<div class="blog">
  <div class="blog-container">

    <!-- blog.component.html -->
    <h1 class="blog-title">Mi blog de notas</h1>

    <div *ngFor="let post of posts" class="post">
      <div class="post-content" (click)="viewPost(post.id)">
        <h2 class="post-title">{{ post.title }}</h2>
        <!-- Llamar a la función getSnippet para obtener la vista previa -->
        <p class="post-snippet">{{ getSnippet(post.content) }}</p>
      </div>
    </div>
    
    <div class="button-container">
      <button class="button-proyecto" [routerLink]="'/proyecto'">Ver proyectos
      </button>
    </div>
  </div>
</div>
