<div class="game-container">
    <h3 class="game-title">Dino Taltalín: Salta y Sobrevive</h3>
    <p class="game-instructions">Haz clic en el botón para abrir el minijuego. Usa la barra espaciadora para saltar y evita los obstáculos.Puedes comer huevos para que te den mas puntos!. Toca la bandera verde para empezar.</p>
    <img src="https://i.ibb.co/Z1jF0Mw/mini-dino-game.webp" alt="mini-dino-game" loading="lazy">
    <button class="open-modal-btn">Jugar</button>
    <div class="modal" id="gameModal">
      <div class="modal-content">
        <span class="close-btn">&#10006;</span>
        <iframe 
          src="https://scratch.mit.edu/projects/989316719/embed" 
          (mouseenter)="disableScroll()"
          (mouseleave)="enableScroll()"      
          allowtransparency="true" 
          width="485" 
          height="402" 
          frameborder="0" 
          scrolling="no" 
          allowfullscreen>
        </iframe>
        <div style="position: absolute; top: 17px; left: 95px; width: 80%; height: 50px; background-color: white;"></div>

      </div>
    </div>
  </div>