.datos-lista {
  color: #5a189a;
  justify-content: center;
  align-items: normal;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  /* Tres columnas iguales */
  grid-template-rows: repeat(3, auto);    /* Tres filas automáticas */
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-template-areas: 
    "c1 c2 c3"
    "c4 vinilo c9"
    "c6 c8 c7";
}

.datos-lista li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Definición de las áreas de la cuadrícula */
.c1 {
  grid-area: c1;
}

.c2 {
  grid-area: c2;  /* Espacio vacío */
}

.c3 {
  grid-area: c3;
}

.c4 {
  grid-area: c4;
}

.vinilo-perfil {
  grid-area: vinilo;  /* Se coloca en la posición central */
}

.c6 {
  grid-area: c6;
}

.c7 {
  grid-area: c7;
}

.c8 {
  grid-area: c8;  /* Espacio vacío */
}

.c9 {
  grid-area: c9;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .datos-lista {
    grid-template-columns: 1fr 1fr;  /* Dos columnas en pantallas pequeñas */
    grid-template-rows: repeat(5, auto);  /* Más filas según sea necesario */
    gap: 15px;  /* Hueco reducido entre las celdas */
  }

  .datos-lista li {
    font-size: 0.6rem;  /* Ajusta el tamaño de la fuente */
  }
}
