<section id="learning-path" aria-labelledby="learning-path-title" class="learning-path">
    <h2 id="learning-path-title" class="section-title">Mi Camino de Aprendizaje</h2>
    <p class="section-description">Creo que aprender nunca termina, y cada paso en mi formación ha sido una oportunidad para crecer y mejorar.</p>
  
    <div *ngFor="let section of sections">
      <h3 class="subsection-title">{{ section.title }}</h3>
      <ul class="list">
        <li *ngFor="let item of section.items">
          <span class="item-title">{{ item.title }}</span> – {{ item.source }} ({{ item.year }})
        </li>
      </ul>
    </div>
    
    
    <div class="timeline">
      <p><strong>Formato de Línea de Tiempo:</strong> (Opcional)</p>
    </div>
</section>
