<div class="blog-container">


    <h1 class="blog-title">{{ post.title }}</h1>
    
    <div class="blog-content">
      <ng-container *ngFor="let section of post.content">
        
        <!-- Título de la sección -->
        <h2 *ngIf="section.title" class="section-title">{{ section.title }}</h2>
  
        <!-- Subtítulo de la sección -->
        <h3 *ngIf="section.subtitle" class="section-subtitle">{{ section.subtitle }}</h3>
  
        <!-- Textos dentro de la sección -->
        <ng-container *ngIf="section.texts">
          <p *ngFor="let text of section.texts" class="section-text">{{ text }}</p>
        </ng-container>
  
        <!-- Imagen dentro de la sección -->
        <div *ngIf="section.image?.src" class="image-container">
          <img [src]="section.image.src" [alt]="section.image.alt || 'Imagen sin descripción'" class="section-image" />
        </div>
      </ng-container>

  </div>
  
  
      
    <div *ngIf="!post" class="blog-error">
        <p>Publicación no encontrada.</p>
    </div>

    <div class="button-container">
        <button 
            [routerLink]="'/blog'" 
            routerLinkActive="active" 
            class="button-blog"
            aria-label="Volver al listado del blog">
            Ir al Blog
        </button>
    </div>
</div>
