<div class="sobremi">
    <div class="home-container">
        <h1 class="home-title">
            <span class="animate-text" id="de-la-cocina">De la cocina</span>
            <span class="space"></span>
            <span class="animate-text" id="al-codigo"> al código: un viaje con sabor y estilo propio</span>
        </h1>

        <!-- Subtítulo o descripción breve -->
        <p class="home-subtitle">Desde el arte culinario hasta el desarrollo web, cada proyecto refleja mi pasión por crear experiencias únicas, fusionando creatividad, precisión y funcionalidad.</p>

        <!-- Botón de llamada a la acción -->
        <div class="cta-container">
            <a routerLink="/proyecto" class="cta-button">Ver mis proyectos</a>
        </div>
    </div>
</div>
