<header>
    <h1>Bienvenido a mi Portafolio</h1>
    <app-secciones></app-secciones>
  </header>
  <main>
    <section id="about">
      <h2>Sobre mí</h2>
      <p>Descripción sobre ti.</p>
    </section>
    <section id="projects">
      <h2>Proyectos</h2>
      <p>Listado de proyectos.</p>
    </section>
    <section id="contact">
      <h2>Contacto</h2>
      <p>Información de contacto.</p>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 Portafolio Fede. Todos los derechos reservados.</p>
  </footer>