<div class="sobremi">
    <div class="home-container">
        <h1 class="home-title">
            DE LA COCINA AL CÓDIGO: UN VIAJE CON MUCHO SABOR Y ESTILO.
        </h1>

        <!-- Subtítulo o descripción breve -->
        <p class="home-subtitle">Cada proyecto mio es una mezcla de creatividad, detalle y practicidad.</p>
        <!-- Botón de llamada a la acción -->
        <div class="cta-container">
            <!-- Enlaza a la ruta /proyecto -->
            <a routerLink="/proyecto" class="cta-button">MIS PROYECTOS ACA</a>
        </div>
    </div>
</div>