 <!-- Subtítulo y contenedor de habilidades -->
 <h3 class="subtitulo">Mis Habilidades</h3>
 <div class="habilidades-contenedor">
     <!-- Columna de habilidades en gastronomía -->
     <div class="habilidades-columna">
         <h3>Gastronomía</h3>
         <p>Creatividad en presentación.</p>
         <p>Innovación artesanal.</p>
         <p>Dominio de técnicas.</p>
         <p>Precisión en recetas.</p>
         <p>Optimización de procesos.</p>
         <p>Adaptabilidad.</p>
     </div>
     
     <!-- Columna de habilidades en desarrollo web -->
     <div class="habilidades-columna">
         <h3>Desarrollo Web</h3>
         <p>HTML y CSS.</p>
         <p>JavaScript.</p>
         <p>Angular.</p>
         <p>Node.js.</p>
         <p>Git y GitHub.</p>
         <p>Frontend moderno.</p>
         <p>Estética y accesibilidad.</p>
         <p>Optimización y resolución de problemas.</p>
     </div>
     
     <!-- Columna de fortalezas personales -->
     <div class="habilidades-columna">
         <h3>Fortalezas Personales</h3>
         <p>Atención al detalle.</p>
         <p>Trabajo en equipo.</p>
         <p>Curiosidad y aprendizaje continuo.</p>
         <p>Gestión del tiempo.</p>
     </div>
 </div>