<section id="experience" aria-labelledby="experience-title">
    <h2 id="experience-title" class="section-title">De la Teoría a la Práctica</h2>
    <p class="section-description">
      Cada experiencia ha sido una oportunidad para aprender, innovar y superar desafíos. Aquí están los momentos clave de mi recorrido profesional.
    </p>
  
    <ng-container *ngFor="let experience of experiences">
      <h3 class="subsection-title">{{ experience.category }}</h3>
      <div class="experience-item" *ngFor="let item of experience.items">
        <h4 class="experience-title">{{ item.title }}</h4>
        <p class="experience-duration">{{ item.duration }}</p>
        <ul>
          <li *ngFor="let detail of item.details">{{ detail }}</li>
        </ul>
      </div>
    </ng-container>
  
    <p class="section-description">
      Mis experiencias reflejan mi pasión por combinar la creatividad y la funcionalidad, tanto en el mundo gastronómico como en el digital. Siempre busco aprender, crecer y superar nuevos desafíos.
    </p>
  </section>
  