<section class="contact-container">
    <h2 class="contact-title">¡Hablemos de tu proyecto!</h2>
    <p class="contact-subtitle">El mejor sabor y los mejores códigos nacen de grandes colaboraciones. Si tienes algo en mente, no dudes en ponerte en contacto. ¡Hagamos magia juntos!</p>
  
<!-- Redes Sociales -->
<div class="contact-socials">
  <h3>Redes Sociales</h3>
  <ul class="social-links">
    <li *ngFor="let social of socialLinks">
      <a [href]="social.url" target="_blank" rel="noopener noreferrer"
        [attr.aria-label]="'Visitar mi perfil de ' + social.name" role="link">
        {{ social.name }}
      </a>
    </li>
  </ul>
</div>


  
    <!-- Disponibilidad -->
    <div class="contact-subtitle">
      <p>Actualmente, estoy disponible exclusivamente para proyectos con front-end. ¡No dudes en ponerte comunicarte conmigo!</p>
    </div>
  
    <!-- Mensaje Final -->
     <div class="contact-email">
    <p><a href="mailto:fedebarzola7@gmail.com?subject=Hola%20Fede&body=Hola%20Federico,%20quisiera%20consultarte%20sobre...">Envia un Mensaje a mi correo</a></p></div>


  </section>
  