<div class="proyecto-container">
  <h1 class="blog-title">{{ proyecto.titulo }}</h1>
  <p>{{ proyecto.fecha }}</p>

  <div class="blog-content">
    <ng-container *ngFor="let section of proyecto.descripcion">
      <!-- Título de la sección -->
      <h2 *ngIf="section.title" class="section-title">{{ section.title }}</h2>

      <!-- Subtítulo de la sección -->
      <h3 *ngIf="section.subtitle" class="section-subtitle">{{ section.subtitle }}</h3>

      <!-- Textos dentro de la sección -->
      <ng-container *ngIf="section.texts">
        <p *ngFor="let text of section.texts" class="section-text">{{ text }}</p>
      </ng-container>

      <div *ngIf="section.image?.src" class="single-image-container">
        <img [src]="section.image.src" [alt]="section.image.alt || 'Imagen sin descripción'" class="single-section-image" />
      </div>
    </ng-container>


    
  </div>

  

  <!-- Botón para regresar -->
  <div class="button-container">
    <button [routerLink]="'/proyecto'" routerLinkActive="active" class="button-blog"
      aria-label="Volver al listado de proyectos">
      Volver
    </button>
  </div>


  <!-- Mensaje de error si no se encuentra el proyecto -->
  <div *ngIf="!proyecto" class="blog-error">
    <p>Proyecto no encontrado.</p>
  </div>
</div>