/* Sección del proyecto */
.proyecto-intro {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px;
    background: linear-gradient(135deg, #f3e6ff, #e3f6ff);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
  }
  
  .proyecto-intro header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .proyecto-intro .animate-text {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: #5a189a;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
  }
  
  .proyecto-intro .animate-text:hover {
    color: #3c096c;
    transform: translateY(-2px);
  }
  
 
  /* Animación */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



  .subtitulo{
    font-family: 'Poppins', sans-serif; /* Tipografía moderna y limpia */
    font-size: 1.2rem; /* Tamaño cómodo para lectura */
    line-height: 1.8; /* Mejora la legibilidad */
    color: transparent; /* Texto transparente para aplicar gradiente */
    background: linear-gradient(120deg, #ff7eb3, #ff758c, #ff5179);
    background-clip: text; /* Gradiente aplicado solo al texto */
    -webkit-background-clip: text;
    animation: textGradient 5s ease-in-out infinite alternate; /* Animación suave */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); /* Sombra sutil */
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo translúcido */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Borde estilizado */
    border-radius: 12px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto interactivo 
     */
     text-align: center;
  }

  .subtitulo:hover {
    transform: translateY(-2px); /* Efecto de elevación */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */  
  }

  @keyframes textGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

.button-container{
  margin-top: 20px;
  font-family: Poppins, sans-serif;
  display: inline-block;
}

.button-blog{
  border: none;
  background-color: #5a189a;
  color: #fff;
  padding: .625rem 1.25rem;
  border-radius: .3125rem;
  text-decoration: none;
  text-align: center;
  transition: background-color .3s, transform .3s;
  font-size: 1rem;
  font-weight: 600;
}

.button-blog:hover {
  cursor: pointer;
  background-color: #3c096c;
  transform: scale(1.05);
  box-shadow: 0 .25rem .375rem rgba(0, 0, 0, .1)
}


/* Optimización para dispositivos móviles */
@media (max-width: 768px) {
  .proyecto-intro {
      padding: 20px;
      animation: none; /* Desactiva la animación */
  }

  .subtitulo {
      animation: none; /* Desactiva la animación */
      color:#5a189a
  }

  .proyecto-titulo {
      font-size: 1.5rem;
  }
}
  