<section class="proyecto-intro" aria-labelledby="proyecto-intro-title">
    <header>
      <h1 class="animate-text" aria-label="Bienvenido a mi laboratorio de ideas">Bienvenido a mi laboratorio de ideas</h1>
      <p class="subtitulo"
        aria-label="Aquí combino la precisión del código con la creatividad artesanal para dar vida a soluciones que inspiran y funcionan.">
        Aquí combino la precisión del código con la creatividad artesanal para dar vida a soluciones que inspiran y
        funcionan.</p>
    </header>

    <app-idea></app-idea>

  </section>
  