<nav aria-label="Menú de navegación principal" role="navigation">
  <ul class="navbar">
    <li role="listitem">
      <a routerLink="/home" class="nav-item" routerLinkActive="active" aria-current="page" aria-label="Ir a la página de inicio">Inicio</a>
    </li>
    <li role="listitem">
      <a routerLink="/sobremi" class="nav-item" routerLinkActive="active" aria-label="Ir a la sección sobre mí">Sobre mí</a>
    </li>
    <li role="listitem">
      <a routerLink="/proyecto" class="nav-item" routerLinkActive="active" aria-label="Ir a la sección de proyectos">Proyectos</a>
    </li>
    <li role="listitem">
      <a routerLink="/contacto" class="nav-item" routerLinkActive="active" aria-label="Ir a la página de contacto">Contacto</a>
    </li>
    <li role="listitem">
      <a routerLink="/formacion" class="nav-item" routerLinkActive="active" aria-label="Ir a la sección de formación">Formación</a>
    </li>
    <li role="listitem">
      <a routerLink="/experiencia" class="nav-item" routerLinkActive="active" aria-label="Ir a la sección de experiencia">Experiencia</a>
    </li>
  </ul>
</nav>
