<div class="sobremi">
    <h2>Sobre mí</h2>

    <p>¡Hola! Soy Federico, un viajero entre el sabor y el código, donde cada receta y cada línea de programación cuentan una historia de creatividad, dedicación y pasión. Nací en Mendoza, Argentina, y desde pequeño descubrí que tanto en la cocina como en la programación se necesita paciencia, precisión y un toque especial para crear algo único.</p>

    <p>Mi viaje comenzó en la cocina artesanal, donde cada plato es una obra de arte y cada ingrediente cuenta. A lo largo de los años, perfeccioné mi habilidad para crear sabores y presentaciones que sorprenden a cada bocado. Pero la innovación nunca se detiene, y eso me llevó a explorar el mundo digital. Descubrí que la programación, al igual que la cocina, requiere de creatividad, experimentación y, sobre todo, una pasión por mejorar cada día.</p>

    <p>Hoy me encuentro fusionando estos dos mundos: la cocina y el desarrollo web. En cada línea de código, busco la misma atención al detalle que al preparar un plato. Cada proyecto digital es como una receta, donde pruebo, ajusto y perfecciono hasta alcanzar el resultado perfecto.</p>

    <p>Mis habilidades incluyen:</p>
    <ul>
        <li>Cocina artesanal y decoración de platos: Transformando ingredientes en experiencias visuales y gustativas.</li>
        <li>Desarrollo web con Angular: Creando aplicaciones intuitivas y dinámicas con un enfoque en la usabilidad y estética.</li>
        <li>Innovación constante: Siempre buscando nuevas formas de hacer las cosas, tanto en la cocina como en la programación.</li>
    </ul>

    <p>Mi objetivo es combinar lo mejor de ambos mundos y crear proyectos que sean funcionales, atractivos y llenos de sabor. Estoy comprometido con seguir aprendiendo y perfeccionando mis habilidades, para ofrecer soluciones únicas que hagan la diferencia.</p>

    <p>¿Sabías que mi inspiración para programar a veces viene mientras horneo pan artesanal? Entre líneas de código y masas de pan, descubro el verdadero significado de ‘trabajo con pasión’.</p>

    

</div>

