<section class="sobremi">
    <h1 class="titulo-principal">Mi Portafolio</h1>
    <h2 class="titulo">Sobre mí</h2>
    <p class="descripcion">Soy Federico, desarrollador web y panadero artesanal apasionado por la innovación en el diseño y la funcionalidad.</p>

    <div class="profile-vinyl">
        <img 
            src="/images/IMG_20220223_114909_770.jpg" 
            alt="Foto de perfil de [tu nombre o descripción]" 
            loading="lazy" 
            width="80" 
            height="80">
    </div>
    <div class="phono-arm"></div>
    
    
    
  
    
    <h3 class="subtitulo">Mi Viaje en la Cocina</h3>
    <p class="descripcion">Mi viaje comenzó...</p>
    
    <h3 class="subtitulo">Mis Habilidades</h3>
    <ul class="habilidades">
        <li>Cocina artesanal...</li>
        <li>Desarrollo web...</li>
    </ul>
</section>
