<section class="sobremi">
    <h2 class="titulo">Sobre mí</h2>
    <p class="descripcion">Soy Federico, desarrollador web y panadero artesanal apasionado por la innovación en el diseño y la funcionalidad.</p>

<div class="containerdatos">
    <app-datospersonales></app-datospersonales>
    <app-vinilo-perfil></app-vinilo-perfil>

</div>
    
    <h3 class="subtitulo">Mi Viaje en la Cocina</h3>
    <p class="descripcion">Mi viaje comenzó como una chispa, una simple curiosidad que nació en la cocina de mi abuela. Allí, rodeado del aroma de especias y el sonido rítmico del cuchillo golpeando la tabla, descubrí que la cocina era más que preparar alimentos: era un lenguaje, una forma de conectar con los demás.

        Recuerdo mi primer plato, un desastre absoluto. ¿Quién pensaría que intentar recrear una receta de pan casero sin seguirla al pie de la letra resultaría en un bloque duro como una piedra? Pero en ese fracaso encontré mi primer aprendizaje: la cocina requiere respeto, paciencia y, sobre todo, pasión.
        
        Con el tiempo, me enamoré de los detalles. No se trataba solo de cocinar, sino de entender los ingredientes, sentir la textura de una masa bien trabajada o percibir el momento exacto en que el caramelo alcanza su punto perfecto. Cada plato que preparaba era un lienzo, y yo, un artista en constante aprendizaje.
        
        Un día decidí que no quería solo cocinar; quería sobresalir. Me propuse dominar el arte de los productos artesanales, desde panes rústicos con corteza crujiente hasta salsas únicas que contaran una historia. Fue entonces cuando entendí que cada receta era una tradición, y que innovar no significaba romper reglas, sino transformarlas para crear algo que resonara conmigo.
        
        Hoy sigo aprendiendo, probando, fallando y triunfando. La cocina me ha enseñado más que técnicas; me ha enseñado a ser paciente, creativo y resiliente. Mi objetivo es claro: convertirme en un gran cocinero, alguien que no solo prepare comida, sino que inspire con cada plato, que sorprenda con cada detalle y que, algún día, sea recordado como un artesano que dejó una marca imborrable en cada mesa.
        
        Mi viaje aún no ha terminado. Y si hay algo que he aprendido es que siempre hay un nuevo sabor esperando ser descubierto. ¿Qué viene después? No lo sé, pero estoy listo para cocinarlo.</p>
    
    <h3 class="subtitulo">Mis Habilidades</h3>
    <ul class="habilidades">
        <li>Cocina artesanal...</li>
        <li>Desarrollo web...</li>
    </ul>
</section>
